<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Agente Negociador Netlife</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>{{ agent_name }}</h1>
    <p class="empresa">Empresa: {{ company_name }}</p>

    <form method="POST">
        <textarea name="mensaje" placeholder="Ingrese el mensaje del cliente..." required></textarea>
        <button type="submit">Analizar mensaje</button>
    </form>

    {% if resultado %}
    <div class="resultado">
        <h2>Resultado del Agente</h2>
        <p><b>Cliente:</b> {{ resultado.cliente }}</p>
        <p><b>Sector:</b> {{ resultado.sector }}</p>
         <p><b>Estado:</b> Deuda Pendiente</p>
        <p><b>Intención:</b> {{ resultado.intencion }}</p>
        <p><b>Fecha de pago:</b> {{ resultado.fecha }}</p>

        <a href="/factura" class="btn-factura">Descargar factura</a>
    </div>
    {% endif %}
</div>

</body>
</html>
